<event name="Vehiclevg7_scorpion">
        <nominal>12</nominal>
        <min>5</min>
        <max>9</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>400</saferadius>
        <distanceradius>400</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
			<child lootmax="0" lootmin="0" max="3" min="2" type="vg7_scorpion"/>
      <child lootmax="0" lootmin="0" max="3" min="2" type="vg7_scorpion_easyrider"/>			
			<child lootmax="0" lootmin="0" max="2" min="1" type="vg7_scorpion_scorcher"/>
			<child lootmax="0" lootmin="0" max="1" min="1" type="vg7_scorpion_windjammer"/>
        </children>
    </event>
